*{
    box-sizing: border-box;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    }
.navbar{
    background:blue;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:relative;
    
    
}
img{
    margin-top: 30px;
    margin-left: 70px;
}
.one{
    margin-left: 30%;
    padding-top: 20px;
    font-weight: lighter;
}
.two{
    margin-left:20%;
    padding-top: 20px;
    font-weight: lighter;
}
.logo-div {
    background-color: blue;
    display:flex;
    flex-wrap: wrap;
    width:1400px;
    
    
}
.navbar ul{
    list-style:none;
    display:inline-flex;
}
.navbar {
    text-decoration:none;
    color:#faf7f7;
    font-weight:bold;
    display: flex;
    
}
.home ul{
    background-color:white;
    width: 1150px;
    margin-left: 25%;
    padding-top: 20px;
    
}
.home ul li a:hover{
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 8px 12px;
    transition: 0.3s;
}

ul li{
    margin-left:70px;
    text-decoration: none;
    color: black;
    width: 60px;

}
    li a {
        text-decoration: none;
        color: black;
        font-weight: lighter;
        
    }
li,button{
    height: 50px;
    text-decoration: none;
    padding: 10px;    
    
    
    
}

.btn{
    width: 110px;
    height: 35px;
    border-radius:10px;
    padding-top:5px;
   padding-bottom: 5px;
    text-align: center;
    background: #1f56e5;
    color: white;
    text-decoration: none;
    display: inline-block;
}

.image{background-image: url(assets/images/bg\ img.png);
background-size:cover;
background-position: center;
background-repeat: no-repeat;
width: 100%;
height: 100%;}

.cards{
    color: white;
    text-align:left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 200px;
    padding-top: 200px;
    display: inline-block;
    width: 850px;
}

.cards h3{
    font-size: 30px;
}

.cards h1{
    font-size:100px ;
}
.cards p{
    font-size: 20px;
}

.rbutton{
    width: 110px;
    height: 35px;
    border-radius: 10px;
    background: #f3f4f6;
    color: blue;
    text-decoration: none;
font-size: 20px;
padding: 10px 20px;
border-color: blue;
border-style: solid;
display: inline-block;
}
.content{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
}

.threecards{
   margin-top: 100px;
   margin-bottom: 100px;
    background-color:rgb(250, 246, 246);
    border-radius: 10px;
    padding: 30px;
    width: 400px;
    height: 400px;
    text-align: left;
    box-shadow:0 7px 6px rgb(10, 10, 242);
    color:white;
    font-size: medium;
    letter-spacing: 1.5px;
    transition: 0.5s;
    border-style: solid;
    border-color:white;
}
.threecards h3{
    color: black;
    padding-top: 30px;
}
.threecards p{
    color: gray;
    padding-bottom:20px;
}
 .threecards:hover{
    cursor: pointer;
    transition:translatey(-5px);
    color: white;
    border-color: blue;}
    

.rbutton:hover{
     background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 8px 12px;
    transition: 0.2s;
}
.aboutus{
    display:flex;
    gap: 30px;
    padding: 20px;
    background-color: white;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    margin: 20px;
    border-style: dotted;
    height: 900px;
}

.abt{
    display: inline-block;
    margin: 50px 60px;
    text-align: left;
}

.abtimg1{
    display: flex;
    flex-wrap: wrap; 
    align-content: flex-start;
}
.abtimg1 img{
    width: 180px;
    height: 180px;
    object-fit: cover;
}
.abt h3{
    color: blue;
    margin-bottom:20px ;
}
.abt h1{
    margin-bottom:20px ;
}

.abt p{
    color: gray;
    font-size: 15px;
}
 .tick ul {
    list-style: none;
    
}
.tick li{
    margin: 12px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.tick li i{
    color: #0d6efd; 
    font-size: 18px;
}

.abt li {
    width:300px
}
.bulb{
    background-color: white;
    border-color:gray;
    border-style:solid;
    width: 400px;
    padding: 15px ;
    margin-top: 30px;
    border-width: 1px;
    
}
.bulb i{
 color: blue;
}
.getstarted{
    margin-top: 50px;
    display: flex;
    gap: 50px;
    
    
}
.getstarted a{
    display: inline-block;
    padding:20px 30px;
    text-align:justify;
}

.getstarted p a {
 width: 140px;
    height: 45px;
    border-radius:10px;
    padding-top:12px;
   padding-bottom: 5px;
    text-align: center;
    background: #1f56e5;
    color: white;
    text-decoration: none;
    display: flex;
}



.footer{
    background:#060b2f;
    color:#fff;
}



.newsletter{
    background:#0d0d17;
    padding:40px 80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}

.newsletter h2{
    font-size:42px;
    margin-left:40%;
    
}

.newsletter form{
    display:flex;
    gap:20px;
}

.newsletter input{
    width:320px;
    padding:18px;
    border:none;
    border-radius:5px;
    outline:none;
}

.newsletter button{
    padding:18px 35px;
    background:#0d6efd;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}



.footer-container{
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:50px;
    padding:70px 0;
    
}
.footer-boxabout{
    background-color: white;
    color: black;
}


.logo-box{
    background:#0d6efd;
    padding:10px;
    text-align:left;
    margin-bottom:10px;
    border-radius:5px;
}

.footer-box h3{
    margin-bottom:10px;
    font-size:30px;
}
.footer-box li a{
    
    width: 180px;
    height: 20px;
    display: flex;
    margin-top: 10px;

}



.footer-box p{
    color:#cfcfcf;
    line-height:30px;
}

.footer-boxabout h3{
    font-size: 30px;
    
    padding: 5px 15px;
}
.footer-boxabout p{
    font-size: large;
    color: gray;
    padding: 5px 15px;
    

}


.social{
    padding:20px 10px;
    
    
}
.social a{
    background-color: blue;
}

.social a{
    display:inline-flex;
    justify-content:center;
    align-items:center;
    width:45px;
    height:45px;
    border:1px solid white;
    border-radius:50%;
    color:white;
    text-decoration:none;
    margin-right:10px;
    transition:.3s;
}

.social a:hover{
    background:#0d6efd;
    border-color:#0d6efd;
}


.footer-box ul{
    list-style:none;
}

.footer-box ul li{
    margin:15px 0;
}

.footer-box ul li a{
    text-decoration:none;
    color:#d9d9d9;
    transition:.3s;
}

.footer-box ul li a:hover{
    color:#0d6efd;
    padding-left:8px;
}



.post{
    display:flex;
    gap:15px;
    margin-bottom:20px;
}

.post img{
    width:90px;
    height:80px;
    object-fit:cover;
    border-radius:5px;
}

.post h4{
    font-size:18px;
    line-height:26px;
}

.post span{
    color:#0d6efd;
}



.contact{
    display:flex;
    gap:18px;
    margin-bottom:25px;
}

.contact i{
    width:50px;
    height:50px;
    background:white;
    color:#0d6efd;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
}



.footer-bottom{
    border-top:1px solid rgba(255,255,255,.2);
    padding:25px 80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}

.footer-bottom a{
    text-decoration:none;
    color:white;
    margin-left:20px;
}

.footer-bottom a:hover{
    color:#0d6efd;
}
