*{
    box-sizing: border-box;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    }
.navbar{
    background:blue;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:relative;
    
    
}
img{
    margin-top: 30px;
    margin-left: 70px;
}
.one{
    margin-left: 30%;
    padding-top: 20px;
    font-weight: lighter;
}
.two{
    margin-left:20%;
    padding-top: 20px;
    font-weight: lighter;
}
.logo-div {
    background-color: blue;
    display:flex;
    flex-wrap: wrap;
    width:1400px;
    
    
}
.navbar ul{
    list-style:none;
    display:inline-flex;
}
.navbar {
    text-decoration:none;
    color:#faf7f7;
    font-weight:bold;
    display: flex;
    
}
.home ul{
    background-color:white;
    width: 1150px;
    margin-left: 25%;
    padding-top: 20px;
    
}
.home ul li a:hover{
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 8px 12px;
    transition: 0.3s;
}

ul li{
    margin-left:70px;
    text-decoration: none;
    color: black;
    width: 60px;

}
    li a {
        text-decoration: none;
        color: black;
        font-weight: lighter;
        
    }
li,button{
    height: 50px;
    text-decoration: none;
    padding: 10px;    
    
    
    
}

.btn{
    width: 110px;
    height: 35px;
    border-radius:10px;
    padding-top:5px;

    text-align: center;
    background: #1f56e5;
    color: white;
    text-decoration: none;
    display: inline-block;
}

.image{background-image: url(assets/images/bg\ img.png);
background-size:cover;
background-position: center;
background-repeat: no-repeat;
width: 100%;
height: 100%;}

.cards{
    color: white;
    text-align:left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 200px;
    padding-top: 200px;
    display: inline-block;
    width: 850px;
}

.cards h3{
    font-size: 30px;
}

.cards h1{
    font-size:100px ;
}
.cards p{
    font-size: 20px;
}

.rbutton{
    width: 110px;
    height: 35px;
    border-radius: 10px;
    background: #f3f4f6;
    color: blue;
    text-decoration: none;
font-size: 20px;
padding: 10px 20px;
border-color: blue;
border-style: solid;
display: inline-block;
}
.content{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
}

.threecards{
   margin-top: 100px;
   margin-bottom: 100px;
    background-color:rgb(250, 246, 246);
    border-radius: 10px;
    padding: 30px;
    width: 400px;
    height: 400px;
    text-align: left;
    box-shadow:0 7px 6px rgb(10, 10, 242);
    color:white;
    font-size: medium;
    letter-spacing: 1.5px;
    transition: 0.5s;
    border-style: solid;
    border-color:white;
}
.threecards h3{
    color: black;
    padding-top: 30px;
}
.threecards p{
    color: gray;
    padding-bottom:20px;
}
 .threecards:hover{
    cursor: pointer;
    transition:translatey(-5px);
    color: white;
    border-color: blue;}
    

.rbutton:hover{
     background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 8px 12px;
    transition: 0.2s;
}
.aboutus{
    display:flex;
    gap: 30px;
    padding: 20px;
    background-color: white;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    margin: 20px;
    border-style: dotted;
    height: 900px;
}

.abt{
    display: inline-block;
    margin: 50px 60px;
    text-align: left;
}

.abtimg1{
    display: flex;
    flex-wrap: wrap; 
    align-content: flex-start;
}
.abtimg1 img{
    width: 180px;
    height: 180px;
    object-fit: cover;
}
.abt h3{
    color: blue;
    margin-bottom:20px ;
}
.abt h1{
    margin-bottom:20px ;
}

.abt p{
    color: gray;
    font-size: 15px;
}
 .tick ul {
    list-style: none;
    
}
.tick li{
    margin: 12px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.tick li i{
    color: #0d6efd; 
    font-size: 18px;
}

.abt li {
    width:300px
}
.bulb{
    background-color: white;
    border-color:gray;
    border-style:solid;
    width: 400px;
    padding: 15px ;
    margin-top: 30px;
    border-width: 1px;
    
}
.bulb i{
 color: blue;
}
.getstarted{
    margin-top: 50px;
    display: flex;
    gap: 50px;
    
}
.getstarted a{
    display: inline-block;
    padding:20px 30px;
    text-align:justify;
}

